.movie{
    max-height: 50rem;
    margin: 7rem auto;
    max-width:  70rem;

    &__title{
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: capitalize;
    }
    &__info{
        margin: .5rem 0;
        display: flex;
        width: 60%;
        justify-content: space-between;
        font-size: 1.5rem;
        font-weight: 300;
            &--rating{

            }
            &--cat{

            }
            &--runtime{

            }
            &--release-date{

            }

            &--age{
                border: 1px solid #fff;
            }.rating-star{
                height: 1.7rem;
                width: 1.7rem;
                fill: var(--main-color);
            }
    }

    &__cast_details{
display: flex;
justify-content: space-between;
    }
    &__buttons{
        display: flex;
        margin-bottom: 3rem;
        .btn{
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: 1.5rem 2rem;
        cursor: pointer;
            margin-right: 1rem;
        background-color: var(--main-color);
        border: none;
        color: #fff;

        &:hover{
            background-color: rgb(14, 146, 163);
        }

        }
    }

    &__plot{
        font-size: 1.4rem;
        margin: 2rem 0;

    }
    &__casts{
        display: flex;
    }
    &__cast {
        height: 10rem;
        width: 10rem;
        margin-right: .5rem;
        & p{
            font-size: 1.5rem;
            text-transform: capitalize;
            text-align: center;
        }
    }
    .cast-img{
          height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
    }


    // director

    &__director{
        font-size: 1rem;
       & p{
        font-size: 1.4rem;
        text-transform: uppercase;
        }
    }

}