.App {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns:12% 1fr;
  position: relative;
}

.btn{
  font-size: 1.3rem;
  font-weight: 700;
  // text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 1rem .6rem;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
}