@import './sass/base';

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    min-height: 100vh;
}
